.image-div {
    background-image: url('/assets/images/appointment.png'); 
    background-size: cover;
    background-position: center; 
    width: 1100px;
    height: 450px;
}

tbody ,td {
    border: none;
}

.btn {
    background-color: var(--secondary-color);
    color: white;
}