<div class="container image-div mt-5">
    <div class="row ">
        <div class="col-6">
        </div>
        <div class="col-6 mt-3">
            <form>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control" id="name" placeholder="Name">
                            </td>
                            <td>
                                <select class="form-select" id="gender">
                                    <option selected>Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </td>
                            <td>
                                <input type="tel" class="form-control" id="phone" placeholder="Phone Number">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select class="form-select" id="date">
                                    <option selected>Select Date</option>
                                    <option value="2024-09-24">September 24, 2024</option>
                                    <option value="2024-09-25">September 25, 2024</option>
                                    <option value="2024-09-26">September 26, 2024</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select" id="time">
                                    <option selected>Select Time</option>
                                    <option value="09:00">09:00 AM</option>
                                    <option value="10:00">10:00 AM</option>
                                    <option value="11:00">11:00 AM</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select class="form-select" id="doctor">
                                    <option selected>Select Doctor</option>
                                    <option value="dr_smith">Dr. Smith</option>
                                    <option value="dr_jones">Dr. Jones</option>
                                    <option value="dr_brown">Dr. Brown</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select" id="department">
                                    <option selected>Select Department</option>
                                    <option value="cardiology">Cardiology</option>
                                    <option value="neurology">Neurology</option>
                                    <option value="pediatrics">Pediatrics</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <textarea class="form-control" id="description" rows="4"
                                    placeholder="Enter your description here"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <button type="submit" class="btn">Submit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>