.title {
    font-family: "Yeseva One", serif;
    font-size: 32px;
    color: var(--primary-color);
}

.sub-title {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
    color: var(--secondary-color);
}

