<div class="image-div mb-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Services</li>
        </ol>
    </nav>
    <h4 class="title">Our Services</h4>
</div>
<app-services-card
[title]="'Clinity Community'"
[content]="'Remain anonymous or build your personal profile while engaging with other verified ' 
+ 'healthcare professionals. Talk medicine, talk news, talk gossip. Enjoy clinity.'"
[imageUrl]="'assets/images/services/clinity_community.png'"
[isImageRight]="false"
></app-services-card>

<app-services-card
[title]="'Clinity Q'"
[content]="'The Clinity Q App is an innovative solution that streamlines the process of '+'
 managing visitors to your organization.'"
[imageUrl]="'assets/images/services/clinity_q.png'"
[isImageRight]="true"
></app-services-card>

<app-services-card
[title]="'Clinity Connect'"
[content]="'Each time a patient finds the right doctor, we build a healthier nation.'"
[imageUrl]="'assets/images/services/clinity_connect.png'"
[isImageRight]="false"
></app-services-card>

<app-services-card
[title]="'Clinity Club'"
[content]="'Refer other professionals and earn Clinity points.'"
[imageUrl]="'assets/images/services/clinity_club.png'"
[isImageRight]="true"
></app-services-card>

<app-services-card
[title]="'Clinity Conferences'"
[content]="'Book medical conferences through us and get  discounts.'"
[imageUrl]="'assets/images/services/clinity_conferences.png'"
[isImageRight]="false"
></app-services-card>

<app-services-card
[title]="'Clinity Care'"
[content]="'Our team Clinity will visit you and provide you a detail report of the factors that will play '+'
an important role in empowerment of your health business.'"
[imageUrl]="'assets/images/services/clinity_care.png'"
[isImageRight]="true"
></app-services-card>


