<div class="container text-center">
    <div class="image-div m-2">
        <h4 class="title p-5">Access the Medical Community that empowers today's health</h4>
    </div>

    <div class="row m-3">
        <div class="col">
            <app-home-tile [isLight]="true" [cardColor]="'light-div'" [title]="'Community'"
                [iconClass]="'bi bi-people me-3'"></app-home-tile>
        </div>
        <div class="col">
            <app-home-tile [isLight]="false" [cardColor]="'dark-div'" [title]="'Clinity Q'"
                [iconClass]="'bi bi-cash-stack me-3'"></app-home-tile>
        </div>
        <div class="col">
            <app-home-tile [isLight]="true" [cardColor]="'light-div'" [title]="'Clinity Club'"
                [iconClass]="'bi bi-people-fill me-3'"></app-home-tile>
        </div>
        <div class="col">
            <app-home-tile [isLight]="false" [cardColor]="'dark-div'" [title]="'Appointments'"
                [iconClass]="'bi bi-calendar3 me-3'"></app-home-tile>
        </div>
    </div>

    <p class="sub-title mt-5">WELCOME TO CLINITY</p>

    <h4 class="title" style="white-space: pre-line;">Our Digital platform guides patients, clinicians, and allied
        professionals towards more meaningful outcomes</h4>

    <div class="text-center mt-3">
        <a href="" class="learn-more">
            Learn More <i class="bi bi-arrow-right"></i>
        </a>
    </div>

    <div class="div-image m-2">
    </div>

    <app-specialties></app-specialties>
    <app-appointment></app-appointment>
    <app-contact></app-contact>
</div>