<div class="d-flex flex-column flex-md-row align-items-center">
    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center" aria-current="true">
        <img [src]="imageUrl" alt="dynamic image" style="width: 30px; height: 36px;" class="me-2">

        <div class="d-flex flex-column flex-grow-1"> 
            <h6 class="mb-0" style="color: var(--primary-color);">{{ title }}</h6>
            <p class="mb-0 opacity-75 fs-10" style="color: var(--secondary-color);">{{ value }}</p>
        </div>
    </a>
</div>
