<div class="container p-5">
    <h4 class="title text-center"> Our Specialties</h4>

    <!-- Row 1 -->
    <div class="row g-0 pt-4 ">
        <div class="col-3">
            <app-specialties-card [cardClass]="'card left-border top-border p-3'" [title]="'Community'">
            </app-specialties-card>
        </div>
        <div class="col-3">
            <app-specialties-card [cardClass]="'card top-border p-3'" [title]="'Connect'">
            </app-specialties-card>
        </div>
        <div class="col-3">
            <app-specialties-card [cardClass]="'card top-border p-3'" [title]="'Webinars'">
            </app-specialties-card>
        </div>
        <div class="col-3">
            <app-specialties-card [cardClass]="'card top-border right-border p-3'" [title]="'Kiosks'">
            </app-specialties-card>
        </div>
    </div>

    <!-- Row 2 -->
    <div class="row g-0">
        <div class="col-3">
            <app-specialties-card [cardClass]="'card left-border p-3'" [title]="'Tokens'">
            </app-specialties-card>
        </div>
        <div class="col-3">
            <app-specialties-card [cardClass]="'card p-3'" [title]="'Appointments'">
            </app-specialties-card>
        </div>
        <div class="col-3">
            <app-specialties-card [cardClass]="'card p-3'" [title]="'Engagement'">
            </app-specialties-card>
        </div>
        <div class="col-3">
            <app-specialties-card [cardClass]="'card right-border p-3'" [title]="'Technology'">
            </app-specialties-card>
        </div>
    </div>

    <!-- Row 3 -->
    <div class="row g-0">
        <div class="col-3">
            <app-specialties-card [cardClass]="'card left-border bottom-border p-3'" [title]="'Collaboration'">
            </app-specialties-card>
        </div>
        <div class="col-3">
            <app-specialties-card [cardClass]="'card bottom-border p-3'" [title]="'Expertise'">
            </app-specialties-card>
        </div>
        <div class="col-3">
            <app-specialties-card [cardClass]="'card bottom-border p-3'" [title]="'Accesibility'">
            </app-specialties-card>
        </div>
        <div class="col-3">
            <app-specialties-card [cardClass]="'card bottom-border right-border p-3'" [title]="'Support'">
            </app-specialties-card>
        </div>
    </div>
</div>