@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
    --primary-color: #334AC0; 
    --secondary-color: #159EEC;
    --acent-color: #BFD2F8;
  }